/.idea/**
*.pyc
*.c
/test.py
*.pyc

### IntelliJ IDEA ###
/.idea/**
*.iws
*.iml
*.ipr
out/
gen/
tests
test
test_bk
dbscript_gen_bk.py
db_scripts/versions/ea6241f69d0c_3_0_2.py



/setup.py
/build_sites.py
/web/backend/user.py
/third_party/**
/build/**
/venv/**
/cloudflarespeedtest/**